In [6]:
import pandas as pd

In [35]:

df = pd.read_csv('./station.csv')
# print(df.head(1))

df_weather = pd.read_csv('./weather.csv')
print(df_weather.head(1))

df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)
# print(df_trip)

         Date  Max_Temperature_F  Mean_Temperature_F  Min_TemperatureF  \
0  10/13/2014                 71                62.0                54

   Max_Dew_Point_F  MeanDew_Point_F  Min_Dewpoint_F  Max_Humidity  \
0               55               51              46            87

   Mean_Humidity  Min_Humidity  ...  Mean_Sea_Level_Pressure_In  \
0             68            46  ...                       29.79

   Min_Sea_Level_Pressure_In  Max_Visibility_Miles  Mean_Visibility_Miles  \
0                      29.65                    10                     10

   Min_Visibility_Miles  Max_Wind_Speed_MPH  Mean_Wind_Speed_MPH  \
0                     4                  13                    4

   Max_Gust_Speed_MPH Precipitation_In  Events
0                  21              0.0    Rain

[1 rows x 21 columns]

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [15]:
solution1 = df_trip["tripduration"].mean()
solution1

1178.2956753399776

In [64]:
new_trip = df_trip["birthyear"].value_counts().idxmax()
new_trip_sol = 2021 - new_trip
new_trip_sol

34.0

In [38]:
data_weather = df_weather.head(2)
data_weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain

In [41]:
solution4 = df['install_dockcount'].mean()
solution4

17.586206896551722

In [59]:
solution5 = df[['modification_date','current_dockcount','install_dockcount']].dropna()
summation = solution5['current_dockcount'].sum() - solution5['install_dockcount'].sum()
summation

-64

In [60]:
# ascending install_date and give me first 20 cells
solution6 = df[["station_id", "install_date"]].sort_values('install_date', ascending=False).head(20)
solution6

   station_id install_date
41     SLU-21    9/15/2015
57      WF-03     8/9/2016
55     SLU-22     7/3/2016
5      CBD-04    7/27/2015
40     SLU-20    6/12/2015
10      CD-01    5/22/2015
54      CH-16    3/18/2016
56      UW-11   10/29/2015
32     SLU-02   10/13/2014
33     SLU-04   10/13/2014
42      UD-01   10/13/2014
35     SLU-15   10/13/2014
36     SLU-16   10/13/2014
37     SLU-17   10/13/2014
38     SLU-18   10/13/2014
39     SLU-19   10/13/2014
34     SLU-07   10/13/2014
45      UD-07   10/13/2014
43      UD-02   10/13/2014
44      UD-04   10/13/2014

In [61]:
# descending install_date and give me first 20 cells
solution7 = df[["station_id", "install_date"]].sort_values('install_date', ascending=True).head(20)
solution7

   station_id install_date
0       BT-01   10/13/2014
29      PS-04   10/13/2014
30      PS-05   10/13/2014
31     SLU-01   10/13/2014
32     SLU-02   10/13/2014
33     SLU-04   10/13/2014
34     SLU-07   10/13/2014
35     SLU-15   10/13/2014
36     SLU-16   10/13/2014
37     SLU-17   10/13/2014
38     SLU-18   10/13/2014
39     SLU-19   10/13/2014
42      UD-01   10/13/2014
43      UD-02   10/13/2014
44      UD-04   10/13/2014
45      UD-07   10/13/2014
46      UW-01   10/13/2014
47      UW-02   10/13/2014
48      UW-04   10/13/2014
49      UW-06   10/13/2014

In [75]:
# Give me the avverage of tripduration
solution8 = df_trip["birthyear"].mean()
int(solution8)

1979

In [77]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(int(new_trip_sol),34)
    assert_equal(int(solution8), 1979)



    print("Success!!!")

test()

Success!!!